@media only screen and (max-width: 1449px) {
    body{
       height: 1000px
       width:134%;
    }
    
    ul{
        display: none;
    }
    .product{

        float:none;
        display: block;
        width:80%;
        height:200px;
        
      

    }
    .container{

        height: 1500px;
    }

  
    .product img{
        width: 189px;
        height: 202px; 
        border-radius: 0%;
        margin: auto;
     
    }
    .description{

        float: right;
    }


    .featured{

    display: block;
    height: 44%;

    }


    footer{
        top:2500px;
    }

}
    
  